/* only affix the top navbar on mobile */
@media (max-width: 768px) {
    .fixed-top-sm {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    body {
        padding-top: 44px;
    }
    .btn.btn-sm {
        padding: .3rem .4rem;
    }
}

hr {
    border: 1px solid lightgray;
}

.custom-select {
    font-family: 'Noto Sans', sans-serif;
}

#main-footer {
    background: #000;
    color: #fff;
}

.btn-status, .btn-status * {
    color:#2D7BFF;
    display: inline-block;
    border: none;
    background: none;
    text-decoration: none;
    text-align: center;
}

.vertical-line {
    display: inline;
    border-left: 1.2px solid gray;
    margin: 0 1em;
    height: 1em;
}